<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p>
  </div>
  
  
  <div class="container">
      <p class="lead">
        <strong>LINKS.</strong> Find me elsewhere: 
        <br>
        <a href="https://github.com/piymis)">Github</a>
        <a href="https://twitter.com/piy_mis">Twitter</a>
    </p>
  </div>
</section>
