
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
      <li><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
      <li><a href="{{ '/resume' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
